@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 98%;
    font-family: 'Roboto', sans-serif;
}

.container {
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    margin: 3% auto auto;
}

@media (min-width:1201px) {
    .container {
        width: 25%;
    } 
}

@media (min-width:1025px) and (max-width:1200px) {
    .container {
        width: 30%;
    } 
}

@media (min-width:769px) and (max-width:1024px) {
    .container {
        width: 40%;
    } 
}

@media (min-width:481px) and (max-width:768px) {
    .container {
        width: 52%;
    } 
}

@media (max-width:480px) {
    .container {
        width: 90%;
    } 
}

#head {
    background: #FFDC40;
    width: 100%;
    height: 30px;
    border-radius: 10px 10px 0 0;
}

.main {
    padding: 4% 8%;
}

.main h2 {
    font-size: 26px;
    line-height: 30px;
    font-weight: 900;
    text-align: center;
    margin: 0px;
}

#sort-btn {
    border: none;
    border-radius: none;
    margin-left: 84%;
    background-color: initial;
}

#sort-btn svg:hover *{
    fill: black;
}

#todo-list {
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    list-style: none;
    padding: 5px 25px;
}

#todo-list li {
    display: flex;
    justify-content: space-between;
}

input {
    border: none;
    font-size: 18px;
    font-weight: 400;
    padding: 12px 6px;
    margin-top: 5px;
    outline: none;
    width: 80%;
}


.del-btn {
    border: none;
    border-radius: none;
    background-color: initial;
    width: 20px;
    height: 20px;
    position: relative;
    top: 15px;
}
.del-btn svg:hover *{
    fill: #833AE0;
}

#add-btn {
    color: white;
    display: flex;
    flex-direction: row;
    border-radius: 71px;
    background-color: #833AE0;
    justify-content: start;
    width: 60%;
    margin: auto
}
#add-btn #btn-name {
    margin: auto;
}

#add-btn #content {
    padding: 10px 15px;
    border-radius: 50px;
    background: #9953F1;
}

#add-btn:hover {
    background: #9953F1;
    transition-delay: 0.2s;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

#alert {
    border: 1px solid red;
    background-color: rgb(241, 125, 125);
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    margin: 50px auto;
    padding: 15px 10px;
    opacity: 0.8;
    display: none;
}

#alert span {
    font-size: 18px;
    color: white;
}

#alert img {
    width: 25px;
    padding-right: 5px;
    position: relative;
    top: 5px;
}